html, body {
  margin: 0;
  padding: 0;
}

.top-menu ul {
  display: flex;
  /* justify-content: space-between; */
  list-style: none;
  padding: 0;
  margin: 0;
}
.top-menu ul>li{
  display: flex;
}
.top-menu ul>li a {
  padding: 1em;
  background-color: beige;
  text-decoration: none;
  font-size: 1em;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}
.cars-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cars-list li {
  padding: 5px;
}
.cars-list li a{
  padding: 5px;
  margin-bottom: 2px;
  background-color: aqua;
}

